/* DMDW Styles */

/* CUSTOM STYLES 
   Note that the styles are defined only here in this file
*/

body {
    background-image:url("dmdw-background.png");
}
.index {
    font-style: normal;
}
.title {
    width: 200px;
    display: inline-block;
    height: 50px;
    font-size: smaller;
}
.logo {
    background-image: url('dmdw-logo.png');
    height: 50px;
    width: 200px;
    display: inline-block;
}
.Maintitle {
    font-style: normal;
    color: #084279;
}
.DsName {
    font-size: medium;
}
