/* Layout for Datamodel HTML */
/* SVN $Rev: 784 $ */

header{
}
nav {
	/* text-align: center; */
	padding: 30px;
	font-size: 35px;
	color: white;
}
nav ul li {
	list-style-type: none;
}
footer {
	text-align: center;
	margin-top: 10px;
	font-size: 0.65em;
}
footer ul li {
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 0px;
}
.PageTitle {
	margin-top: 20pt;
	font-size: 2em;
	background-color: #d6d6d6;
}
.float {
	/* Aligns all content */
	text-align: center;
	margin-left: auto;
	margin-right: auto;	
}
div.container {
	border-block-style: none;
	margin-left: 20%;
	margin-right: 20%;
	float: inherit;
	overflow-y: auto;
}
div.navbox {
    overflow: auto;
    float: left;
    margin: 5px;
    padding: 5px;
    min-width: 250px;
    width: 30%;
}
div.elementbox {
    overflow: auto;
    padding: 5px;
    margin: 5px;
    width: 50%;
}
div.navlink {
   cursor: default;
}
